# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env
*.env

# VSCode
.vscode/

# Docker
*.db
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test
.coverage
htmlcov/

# Node
node_modules/

# Others
*.bak
*.swp
